/* Features sekce */
.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.feature-item {
  text-align: center;
  margin: 28px auto;
  width: min(1200px, calc(100% - 32px));
  border-radius: 22px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--shadow-light);
  transition: background-color var(--transition-speed);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(8px) saturate(150%);
  border: 1px solid rgba(var(--color-primary-light-rgb), 0.1);
}

.feature-item i {
  font-size: 3em;
  color: var(--color-accent);
  margin-bottom: 15px;
}

.feature-item h3 {
  font-family: var(--font-heading);
  font-size: 1.3em;
  color: var(--color-primary-dark);
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 0.95em;
  color: var(--color-text-light);
  margin: 0;
}
